*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-primary: #007BFF;
    --col-secondary: #28A745;
    --col-accent: #FFC107;
    --col-bg: #F8F9FA;
    --col-main-text: #282a2c;
    --col-sec-text: #6C757D;
    --col-tert-text: #6c757dbb;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FFFFFF;
    color: var(--col-main-text);
}

/* Primary Color */
.primary {
    color: #FFFFFF;
    background-color: var(--col-primary);
}

/* Secondary Color */
.secondary {
    color: #FFFFFF;
    background-color: var(--col-secondary)
}

/* Accent Color */
.accent {
    color: #FFFFFF;
    background-color: var(--col-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343A40;
}

p,
a,
span {
    color: #6C757D;
}


/* utility css */
.button-primary {
    background-color: var(--col-primary);
    color: #FFFFFF;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: .5s ease;
}

.button-primary:hover {
    filter: brightness(1.25);
}

.heading-ul {
    font-size: 6rem;
}

.tert-text {
    color: var(--col-tert-text);
    font-size: 12px;
}