.blogmaker-main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.blogmaker-editor-wrapper {
	width: 100%;
	height: 90%;
	display: flex;
}

.blogmaker-left {
	width: 50%;
	height: 100%;
}

.blogmaker-left textarea {
	width: 100%;
	height: 100%;
	font-size: xx-large;
}

.blogmaker-right {
	width: 50%;
	height: 100%;
	background-color: aqua;
	overflow-x: scroll;
	overflow-y: scroll;
}

.blogmaker-submit-form {
	width: 100%;
}

.blogmaker-submit-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.blogmaker-submit-form form input {
	width: 50%;
	height: 2rem;;
}

.blogmaker-submit-form form button {
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: var(--col-primary);
	color: #FFFFFF;
	font-weight: bold;
	border: none;
}
